{% extends "users/base.html"%}
{% load static %}
{% block content %}
<hr>

	<div class="container ">
		<div class="card">
			<header class="card-header has-background-primary">
    			<p class="card-header-title ">
      				LE FILM TI'MINES TRAVEL
    			</p>
    			<button class="card-header-icon" aria-label="more options">
      			<span class="icon">
        			<i class="fas fa-film"></i>
      			</span>
    			</button>
  			</header>
  			<div class="card-content ">
		      Profitez de ce chef-d'oeuvre réalisé par notre équipe.
		      Nominé pour deux oscars et gagant d'un Golden Globe ce film vous eblouira.
		    </div>
  			<div class="card-image">
			    <figure class="image is-16by9">
			  	<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
				</figure>
  			</div>
  		</div>
  		<hr>

  		<div class="card is-fluid">
  			<header class="card-header has-background-primary">
			    <h1 class="card-header-title">
			      NOTRE ÉQUIPE
			    </h1>
			    <button class="card-header-icon" aria-label="more options">
			      <span class="icon">
			        <i class="fas fa-users"></i>
			      </span>
			    </button>
  			</header>
  			<div class="card-content ">
  				<nav class="level is-mobile">
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Edgar HERRERA</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Noé BACKERT</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Antoine BANCHET</p>
						</figure>
  					</div>
  				</nav>
  			</div>
  			<div class="card-content ">
  				<nav class="level is-mobile">
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Lily DOUSSEAU</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Elliot GALAOR</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Yanis ARNAUD</p>
						</figure>
  					</div>
  				</nav>
  			</div>
  			<div class="card-content ">
  				<nav class="level is-mobile">
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Armand MASSEAU</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Matthieu CHAPEU</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Josselin MARCHAND</p>
						</figure>
  					</div>
  				</nav>
  			</div>
  			<div class="card-content ">
  				<nav class="level is-mobile">
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Jeremy LOUIS</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Adrien GRAS</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Neil ROZZ</p>
						</figure>
  					</div>
  				</nav>
  			</div>
  			<div class="card-content ">
  				<nav class="level is-mobile">
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Lucas PEREIRA</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Adam SEBTI</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Lucien GHEERBRANT</p>
						</figure>
  					</div>
  				</nav>
  			</div>
  			<div class="card-content ">
  				<nav class="level is-mobile">
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Clément GORON</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Daniel GUEZ</p>
						</figure>
  					</div>
  					<div class="level-item">
  						<figure class="image is-64x64">
  							<img class="is-rounded" src="{% static 'logo2.png' %}">
  							<p>Inès GRELLAT</p>
						</figure>
  					</div>
  				</nav>
  			</div>
  			<hr>
  		</div>
  		<hr>

  		<div class="card">
  			<header class="card-header has-background-primary">
			    <h1 class="card-header-title">
			      ORGANIGRAMME
			    </h1>
  			</header>
  			<div class="card-image">
			    <figure class="image is-16by9">
			  		<img src="{% static 'organigramme.png' %}" alt="Placeholder image">
				</figure>
  			</div>
  		</div>
  		<hr>
  		<div class="card">
  			<header class="card-header has-background-primary">
			    <h1 class="card-header-title">
			      CONTACT
			    </h1>
			    <button class="card-header-icon" aria-label="more options">
			      <span class="icon">
			        <i class="fas fa-info-circle"></i>
			      </span>
			    </button>
  			</header>
  		</div>
  		<div class="card-content">
  			<p >En cas de problème avec le site web contacter <strong>Adam SEBTI</strong> / <strong>Lucas PEREIRA</strong>.</p>
  			<p> Pour toute autre question/information <strong>Ti'mines Travel</strong> reste joignable sur les reseaux.</p>
  		</div>
  		<nav class="level is-mobile">
  			<div class="level-item">
      			<img src="{% static 'instagram.png'%}" class="image is-32x32" href="#">
    		</div>
    		<div class="level-item">
      			<img src="{% static 'facebook.png'%}" class="image is-32x32" href="#">
    		</div>
    		<div class="level-item">
      			<img src="{% static 'whatsapp.png'%}" class="image is-32x32" href="#">
    		</div>
    		<div class="level-item">
      			<img src="{% static 'discord.png'%}" class="image is-32x32" href="#">
    		</div>
  		</nav>
  		<hr>
	</div>

{% endblock %}